* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0b64e5;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header h2 {
  color: white;
  font-weight: bolder;
  font-size: 30px;
  padding: 15px 0px;
}
header input {
  padding: 10px;
  opacity: 0.3;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 100%;
  max-width: 350px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.menu {
  display: none;
  font-size: 30px;
  color: white;
}
.main {
  background-color: #f4f7fc;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  flex-direction: column;
  gap: 30px;
}
.content {
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 1.2rem;
  background-color: white;
  gap: 20px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.content_text {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 250px;
}

.progress_text {
  font-size: 20px;
}
.course {
  width: 100%;
  max-width: 1200px;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.course h2 {
  color: #0d6efd;
  font-size: 1.5rem;
}
.course_content {
  display: flex;
  flex: 1;
  width: 100%;
  height: auto;
  gap: 20px;
  flex-wrap: wrap;
}
.item {
  border-radius: 20px;
  width: 350px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.4s linear;
  width: calc(33.333% - 14px);
}
.item_body {
  padding: 10px;
}
.item_body p {
  color: #666;
}
.item_body a {
  margin-top: 0.8rem;
  display: block;
  width: 100%;
  background-color: #0b64e5;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.course_suggest {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex: 2;

  height: auto;

  gap: 20px;
}
.course_suggest .item {
  width: 100%;
}
@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }
  .navbar {
    display: none;
  }
  .menu {
    display: block;
  }
  header input {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
  }

  .course_content,
  .course_suggest {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
}
